form {
  padding: 30px 43px;
}

.input {
  padding: 7px 25px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 350px;
  height: 40px;
  cursor: pointer;
}

.input-dark {
  background: #2b3945;
  color: #ffffff;
}

.input-light {
  color: #858585;
}

.input-dark::placeholder {
  color: #ffffff;
}
