#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  padding-left: 43px;
  width: 35%;
}

.nav-right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding-right: 43px;
  align-items: center;
  column-gap: 5px;
}

.button-mode {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.nav-dark {
  background: #202c37;
}

.nav-dark h1 {
  color: white;
}

.nav-dark button {
  color: white;
}

@media (min-width: 300px) and (max-width: 768px) {
  .nav-left {
    width: 64%;
    padding-left: 0px;
  }

  .nav-right {
    width: 36%;
    padding-right: 0px;
  }
}
