.container-dark {
  background-color: #202c37;
}

.container-light {
  background-color: #fafafa;
}

@media (min-width: 300px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}
