.info-country-principal {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 70px 70px;
}

.country-info-container {
  display: flex;
  column-gap: 10px;
}

.country-info {
  display: flex;
  justify-content: space-around;
}

.country-info-left-dark {
  color: #ffffff;
}

.country-info-right-dark {
  color: #ffffff;
}

.country-info-img,
.country-info {
  width: 70%;
  display: flex;
}

.data-country {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.data-border-countries {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.data-languages {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.button-back {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  outline: none;
  padding: 10px 25px;
  cursor: pointer;
  width: 150px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

@media (min-width: 300px) and (max-width: 768px) {
  .info-country-principal {
    padding: 0px;
  }
  .country-info-container {
    display: flex;
    flex-direction: column;
  }

  .country-info-img {
    width: 100%;
    justify-content: center;
  }

  .country-info {
    display: flex;
    flex-direction: column;
  }
}
