.country-info-container {
  display: flex;
  column-gap: 10px;
}

.country-info {
  display: flex;
  justify-content: space-around;
}

.country-info-img,
.country-info {
  width: 50%;
}

.button-back {
  border: none;
  outline: none;
  padding: 10px 25px;
  cursor: pointer;
  width: 150px;
}

a {
  text-decoration: none;
}

@media (min-width: 300px) and (max-width: 768px) {
  .country-info-container {
    display: flex;
    flex-direction: column;
  }

  .country-info-img {
    width: 100%;
  }

  .country-info {
    display: flex;
    flex-direction: column;
  }
}
